
.webImg{
  padding-top: 50px;
}
.webImg dl{
	/*background: url(../../../assets/img12/down/logo.png) no-repeat center top;*/
	background-size: 209;
	padding-bottom: 30px;
}
.dls dt,.dls dd{
    vertical-align: top;	
    display:inline-block;
	*display:inline;
	*zoom:1;
}
.dls{
	width: 100%;
	line-height: 36px;
}
.dls dt{
	width: 20%;
	padding-right: 15px;
	text-align: right;
	vertical-align: top;
	padding-top: 5px;
}
.dls dd{
	width: 70%;
}
.dls dd input{
	line-height: 30px;
	padding: 10px 10px;
	border-radius: 5px;
	width: 90%;
}
.dls dd textarea{
	border: 1px solid #99a6a9;/*no*/	
	border-radius: 10px;
}
.dls dd textarea,
.dls dd button{
	width: 90%;
	box-sizing: border-box;
}
.dls dd select{
	width: 100%;
	box-sizing: border-box;
}

.dls textarea{
	min-height: 150px;
	text-align: left;
	line-height: 20px;
	padding: 10px;
	resize:none;
}
.delNews{
	padding-top: 50px;
	margin-top: 50px;
	border-top: 1px solid #99a6a9;/*no*/
}
.delNews h5{
	padding-left: 15px;
}
.delNews dl{
  display: -webkit-box;
  display: flex;
	padding: 20px;
	border-bottom: 1px dashed #99a6a9;/*no*/
}
.guestCON input{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom:1px solid #99a6a9;/*no*/
	margin:20px 0;
}
.delNews dt{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.delNews dd{
	width: 80px;
	text-align: center;
	cursor: pointer;
}


.pcBody .wrap{
  width: 650px;/*no*/
  margin: 0 auto;
}





