<Layout>
  <myhead :hval="header" slot="header" ></myhead>
  <div class="webImg">

     <dl class="dls">
        <dt>
            标题
        </dt>
        <dd>
            <input type="text" v-model="news.title" placeholder="必填项">
        </dd>
     </dl>  
     <dl class="dls">
        <dt>
            正文
        </dt>
        <dd>
            <textarea class="blackCR desc" v-model="news.desc"></textarea>
            <!-- <input type="text" placeholder="必填项"> -->
        </dd>
     </dl>  
     <dl class="dls">
        <dt>
            链接
        </dt>
        <dd>
            <input type="text" v-model="news.link" placeholder="请以 / 开头">
        </dd>
     </dl>  
     <dl class="dls">
        <dt>
            &nbsp;
        </dt>
        <dd>
            <button type="button" class="btn btn-default" @click.prevent="addNews" >添加</button>
        </dd>
     </dl>  
 </div>
 <div class="delNews">
    <h5 class="f30 redCR">所有公告列表</h5>
    <dl v-for="(item,index) in listData" class="flexBox">
        <dt class="flex1">{{index+1}}、{{JSON.parse(item)['title']}} </dt>
        <dd class="redCR" @click.prevent="delFlag=true;curIndex=index">删除</dd>
    </dl>
 </div>
 <div slot="footer">
    <loading :loading="loading" :loadError="loadError"></loading>

    <modal-dialog :dialogshow2.sync="delFlag" @hide="closeDialog('delFlag')">
        <div class="dialog-header" slot="dialog-header">
          确定要删除这条新闻了吗? 
        </div>
    
        <dl class="dialog-footer" slot="dialog-footer">
          <dd  @click.prevent="delNews">
            <button type="button">确定</button>
          </dd>
        </dl>
    </modal-dialog>
     
 </div>

</Layout>