.wrap{
  background: #fff;
  background: linear-gradient(180deg, #fff 0%, #fff 50%,   #fbf9dc 100%);
}
.header{
  background-size: 750px;
  height: 407px;
  padding: 30px 0 0;
}
.header dl{
  padding: 50px 30px 0;
}
.header dl img{
  width: 210px;
}
.header dl p.img{
  line-height: 0px;
  width: 210px;
  height: 210px;
  position: relative;
  display: inline-block;
}
.header dl p.img img{
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
.header dl span{
  position: absolute;
  bottom: 3px;
  right: 3px;
  background: #d66167;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  line-height: 41px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 20px rgba(204, 71, 78,.88);
}
.header input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  overflow: hidden;
  opacity: 0;
}



.my-set{
  position: relative;
  padding:20px 0px 80px;
  background-size: 50px;
}
.my-set ul{
  line-height: 100px;
  color: #908384;
}
.my-set ul li{
  padding: 0 30px;
}
.my-set ul li dt{
  padding-right: 30px;
}
.my-set ul li dd{
  border-bottom: 1px solid #e2b4b6 ;/*no*/
  line-height: 99px;
  height: 100px;
}
.my-set ul li:active{
  background-color: rgba(0,0,0,.05);
}
.my-set ul li .whiteCR{
  opacity: 0;
}
.my-set ul li{
  /*background: url('../../assets/img12/default/icon-my.png') no-repeat;*/
  background-size: 77px;
  /*background: #b2b2b2;*/
  /*-webkit-tap-highlight-color:rgba(0,0,0,.1);*/
}


.my-set ul li a{
  display: block;
}
.icon-arrowR{
  width: 13px;
  height: 22px;
  background-position: -73px 0;
  position: relative;
  top: 1px
}
.my-set ul li span{
  padding: 0 18px 0 5px;
}