<Layout>
  <myhead :hval="header" slot="header"></myhead>
<scroller :on-refresh="onRefresh"    ref="my_scroller">

  <div class="bodyWrap">
    <div class="topAd">
      <div id='mySwipe' class='swipe' ref='mySwipe'>
        <img :src="headImg+'?imageView2/2/w/750/t/'" alt="">
      </div>
    </div>

    <div class="topDetail whiteBg">
      <h2 class="f36">{{prdData.title}}</h2>
    </div>
    <div class="balance" >
      <dl class=" f30">
        <dd>
          <span :class="['btn btn-green mR10 btn-sm']" 
              v-for="(item,index) in tabs" 
              >{{item.title}}</span>
        </dd>
      </dl>
      <div class="tipDiv">
         邮费：默认包邮
         <ul v-if="prdData.special_district">
           <li v-for="(item,index) in JSON.parse(prdData.special_district)">
             {{item.area.join(', ')}}地区: 额外加邮费{{item.price}} 元
           </li>
         </ul>
      </div>
    </div>

    <div class="auctionDetail whiteBg">

      <div v-html="prdData.description"></div>
    </div>
    
  </div>
</scroller>

  <!-- <helpcon></helpcon> -->

  <div slot="footer">
    <div class="footer tC">
      <dl class="flexBox1 f30">
        <dt class="f21 grayCR">
            <p class="btn btn-green redCR">￥{{prdData.price}}</p>
        </dt>
        <dd><p class="btn btn-green" @click.prevent="goto('/order/create?id='+paraData.gid)">立即购买</p></dd>
      </dl>
    </div>
  </div>

</Layout>