.myHeader{
  color: #3c763d;
  background-color: #dff0d8;
  border-bottom:1px solid #d6e9c6;
  padding: 5px 30px;
}
.myHeader dl dd{
  height: 60px;
  overflow-y: hidden;  
}
.textwrap{
  overflow: hidden;
  line-height: 60px;
  height: 60px;
  white-space: nowrap;
  width: 100%;
}
.textwrap p{
  position: absolute;
}
.textwrap p span{
  padding-right: 20px;
}
.createCon{
  padding: 0px 30px;
}

.publish {
  position: relative;
}
.publish div{
  padding-top: 20px;
  position: relative;
}
.publish div input{
  position: absolute;
  height: 58px;
  line-height: 58px;
  bottom: 1px;/*no*/
  left: 1px;/*no*/
  border:none;
  width: 90%;
  background: #fff;
}
.publish div ul{
  position: absolute;
  top: 80px;
  color: #3c763d;
  background-color: #dff0d8;
  border:1px solid #d6e9c6;/*no*/
  width: 100%;
  padding: 10px 20px;
  line-height: 70px;
  z-index: 2;
}
.publish div ul li{
  border-bottom: 1px solid #fff;/*no*/
}
.publish div ul li:last-child{
  border-bottom:none;
}
.publish > p{
  padding-top: 10px;
}
.publish h4{
  padding-top: 15px;
}
.publish div p{
  border: 1px solid #acacac;/*no*/
  width: 100%; 
  line-height: 45px;
  height: 61px;
  padding: 8px 10px;
  border-radius: 5px;
}
.my-set{
  position: relative;
  padding:30px 0px 0;
}
.my-set h4{
  border-top:1px solid #d6e9c6;/*no*/
  padding-top: 20px; 
}
.my-set h4 button{
  /*padding: 0px 20px;*/
/*  line-height: 50px;
  height: 50px;*/
}

.my-set dl dd {
  padding: 20px 0 0;
}
.my-set dl dd input,
.publish select,
.publish input,
.my-set textarea{
    border: 1px solid #acacac;/*no*/
    width: 100%; 
    line-height: 45px;
    height: 61px;
    padding: 8px 10px;
    border-radius: 5px;
}
.my-set dl.flexBox{
  border: 1px solid #acacac;
  border-radius: 5px;  
  margin-top: 20px;
}
.my-set dd.special{
  width: 80px;
  text-align: center;
  line-height: 60px;
  border-right: 1px solid #acacac;/*no*/
  background: #dfe0e5;
}
.my-set dd.special:last-child{
  border-left: 1px solid #acacac;/*no*/
  border-right: none; 
}
.my-set dd.special:active{
  background: #dadbdc;
}
.my-set dl.flexBox dd{
  padding-top: 0;
}
.my-set dl.flexBox input{
  border:none;
}
.my-set textarea{
    min-height: 180px;
}
.my-set ul li{
  padding: 0 60px;
}
.my-set ul li dl{
  border-bottom: 1px solid #dedede ;/*no*/
}
.my-set ul li dt{
  width: 70px;
}
.my-set ul li dd{
  line-height: 100px;
  height: 100px;
  color: #000000;
}
.my-set ul li dd.tR{
  /*padding-right: 30px;*/
  color:#7f7f7f
}
.my-set ul li:last-child dl{
  border-bottom: none;
}
.my-set ul li:active{
  background-color: rgba(0,0,0,.05);
}
.my-set ul li .whiteCR{
  opacity: 0;
}
.my-set ul li dd i{
  color: #b5b5b5;
  margin-left: 10px;
}
.my-set ul li a{
  display: block;
}
.footer{
  width: 100%;
  padding: 30px 30px;
}
.footer p{
  width: 100%;
}
#pcBody .my-set dl dd input,
#pcBody .publish select,
#pcBody .publish input,
#pcBody .my-set textarea{

    line-height: 40px;
    padding: 4px 10px;
}
#pcBody .my-set dd.special{
  line-height: 47px;  
}
#pcBody .myHeader dl dd{
  height: 40px;
}
#pcBody .textwrap{
  line-height: 40px;
  height: 40px;
}