<Layout>
<!--   <div class="myHeader f30">
    <h1>
      <span class="greenCR fr">发布</span>
      <span @click.prevent="goto('/')">取消</span>
    </h1>
  </div> -->
  <myhead :hval="header" slot="header"></myhead>

  <div class="publish f30">
    <div class="blackCR">
      <textarea placeholder="商品描述..." id="text" v-model="paraData.desc"></textarea>
    </div>
    <ul>
      <li  v-for="(item,index) in imgUrl" class="posiR imgs" @touchend.prevent="previewImage(imgUrl[index])">
          <img :src="imgUrl[index]" alt=""> 
      </li>
      <li class="special posiR" @touchend.prevent="chooseImg">
        <i class="iconfont icon-add"></i>
      </li>      
    </ul>
  </div>

  <div class="my-set f30">
    <ul class="blackCR">
      <router-link tag="li" to="/prd/spec">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-guigecanshu f30"></i>
          </dt>
          <dd class="flex1">规格</dd>
          <dd class="tR">
            <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
      <router-link tag="li" to="/prd/price">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-jin f30"></i>
          </dt>
          <dd class="flex1">价格</dd>
          <dd class="tR">
            <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
      <router-link tag="li" to="/prd/other">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-qita f36"></i>
          </dt>
          <dd class="flex1">其它</dd>
          <dd class="tR">
             <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
    </ul>
  </div>    

  <div slot="footer">
    <div class="footer tC f30">
      <p class="btn btn-green" @click.prevent="created">发布</p>
    </div>
    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
  </div>
  
</Layout>