<Layout>
<!--   <div class="myHeader f30">
    <h1>
      <span class="greenCR fr">发布</span>
      <span @click.prevent="goto('/')">取消</span>
    </h1>
  </div> -->

  <div class="publish f30">
    <div>
      <textarea placeholder="商品描述..." id="text" v-model="paraData.desc"></textarea>
    </div>
    <ul>
      <li  v-for="(item,index) in imgUrl" class="posiR imgs" @touchend.prevent="previewImage(imgUrl[index])">

          <!-- <img :src="globalAvatar+'auction/'+item+'?imageView2/2/w/340/h/340/t/'" alt="" v-if="item.indexOf('.jpg') > 0"> -->
          <img :src="imgUrl[index]" alt=""> 

      </li>
      <li class="special posiR" @touchend.prevent="chooseImg">
        <i class="iconfont icon-jia"></i>
      </li>      
<!--       <li class="special posiR" v-if="imgUrl.length < 9">
        <i class="iconfont icon-jia"></i>
        <input type="file" class="modifyImg" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" @change="onFileChange" unselectable="on" multiple="multiple" />
      </li>
 -->
    </ul>
  </div>

  <div class="my-set f30">
    <ul class="blackCR">
      <router-link tag="li" to="/prd/spec">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-guigecanshu f30"></i>
          </dt>
          <dd class="flex1">规格</dd>
          <dd class="tR">
            <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
      <router-link tag="li" to="/prd/price">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-jin f30"></i>
          </dt>
          <dd class="flex1">价格</dd>
          <dd class="tR">
            <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
      <router-link tag="li" to="/prd/other">
        <dl class="flexBox">
          <dt>
            <i class="iconfont icon-qita f36"></i>
          </dt>
          <dd class="flex1">其它</dd>
          <dd class="tR">
             <i class="iconfont icon-jiantou f30"></i>
          </dd>
        </dl>
      </router-link>
    </ul>
  </div>    

  <div slot="footer">
    <div class="footer tC f30">
      <p class="btn btn-green" @click.prevent="created">发布</p>
    </div>
    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
  </div>
  
</Layout>