
.wrap{
  background: #fbe8df url(../../../assets/img12/other/invitebg.jpg) no-repeat center top;
  background-size: 100%;
}
.webImg{
	width: 100%;
	height: 100%;
}

.pcBody .wrap{
  width: 550px;/*no*/
  margin: 0 auto;
}
.pcBody .wrap .webImg{
  padding-top: 100px;/*no*/
}
