
.wrap{
  /*background: #fbe8df url(../../../assets/img12/other/invitebg.jpg) no-repeat center top;*/
  background-size: 100%;
}
.test canvas{
	width: 100%;
	height: 500px;
}
.test p{
	width: 100%;
}

.qrcode img{
  width: 400px;
  height: 400px;
  padding-bottom: 20px
}
.qrcode{
	padding-top: 100px;
	text-align: center;
}