<Layout>
  <div class="header posiR f30">
    <img src="../../assets/img12/index/topbg.jpg" alt="" class="head">
    <p class="blueLCR">
      <i class="iconfont icon-heart-opp-copy f30"></i> 55
    </p>
    <dl class="tR">
      <dt>
        <ol class="flexBox">
          <li class="flex1 whiteCR f36">{{profile.nick}}</li>
          <li>
            <img :src="headImg" alt="">
          </li>
        </ol>
      </dt>
      <dd class="grayCR">{{profile.signature ? profile.signature : '这家伙很懒，什么都没留下'}}</dd>
    </dl>
  </div>

  <div class="conList">

    <div class="conOne">
      <div class="oneTop">
        <dl class="flexBox">
          <dt>
            <b>今天</b>
          </dt>
          <dd class="flex1">
            <p @click.prevent="goto('/prd/create')">
              <i class="iconfont icon-xiangji whiteCR"></i>
            </p>
          </dd>
        </dl>
      </div>
    </div>

    <div class="conOne" v-for="(item,index) in listData">
      <div class="oneTop">
        <dl class="flexBox">
          <dt>
            <b>{{item.publish.split(' ')[0].split('-')[2]}}</b>{{item.publish.split(' ')[0].split('-')[1]}}月
          </dt>
          <dd class="flex1">
            <h5 class="f30">{{item.desc}}</h5>
            <ul class="blueLCR">
              <li v-for="(item2,index2) in JSON.parse(item.imgs)">
                <img :src="globalAvatar+'goods/'+item2" alt="">
              </li>
            </ul>
            <ol class="flexBox">
              <li class="flex1 redCR f30">
                <span v-if="item.status == 0"
                     @touchend.prevent="onOffGoods(item.id,false)"><i class="iconfont icon-xiajia f30 blueLCR"></i></span> 
                <span v-else  @touchend.prevent="onOffGoods(item.id,true)"><i class="iconfont icon-ccgl-xiajia f30 blueLCR"></i></span> 
                ¥ {{item.price_range}}
              </li>
              <li class="blueLCR" v-if="item.status == 0">
                <span @touchend.prevent="upTop(item.id)"><i class="iconfont icon-top f30"></i></span>
                <span><i class="iconfont icon-zhuanfa f48"></i></span>
                <span><i class="iconfont icon-xiaoxi15-copy f30"></i></span>
              </li>
            </ol>
          </dd>
        </dl>
      </div>

      <div class="comment posiR f30" v-if="item.status == 0">
        <i class="iconfont icon-caret-up f48"></i>
        <dl class="stars flexBox blueLCR" v-if="item.praise_head">
          <dt>
            <i class="iconfont icon-xinheart282 f30"></i>
          </dt>
          <dd class="flex1">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
           <img src="../../assets/img12/index/topbg.jpg" alt="">
          </dd>
        </dl>
        <div class="comList">
          <dl class="flexBox">
            <dt>
              <i class="iconfont icon-pinglun blueLCR f30"></i>
            </dt>
            <dd class="flex1">
              <ol class="flexBox">
                <li>
                  <img src="../../assets/img12/index/topbg.jpg" alt="">
                </li>
                <li class="flex1">
                  <p class="blueLCR">
                    <span class="f21 grayCR fr">11月10日 下午</span>
                    好友1
                  </p>
                  回复<span class="special blueLCR">小小</span>有木有啊
                </li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    
  </div>


  <div slot="footer">
    <myfooter :current="navType"></myfooter>
    
    <modal-dialog :dialogshow2.sync="needLogin" @hide="closeDialog('needLogin')"  :fail='true'>
      <div class="dialog-header" slot="dialog-header">
        您的登陆信息已失效，请重新登陆
      </div>

      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="redirect">
          <button type="button">登陆</button>
        </dd>
      </dl>    
    </modal-dialog>

    <modal-dialog :dialogshow2.sync="iAmGuestClick" @hide="closeDialog('iAmGuestClick')">
        <div class="dialog-header" slot="dialog-header">
          您还没有登陆哦
        </div>
<!--         <div slot="dialog-body" class="guestCON tC">
           只有登陆后才可以提升觉醒力
        </div>     -->
    
        <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="redirect">
            <button type="button">登陆</button>
          </dd>
        </dl>
    </modal-dialog>


    <!-- <div class="nologinMask" v-if="iAmGuest" @touchend.prevent="iAmGuestClick = true"></div> -->

    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
  </div>


</Layout>