<Layout>
  <scroller :on-refresh="onRefresh" :noDataText="noDataText" :on-infinite="onInfinite"  ref="my_scroller">
  <div class="mask" @touchend.prevent="listData[curListIndex].showComment = false"
      v-if="listData[curListIndex].showComment"></div>
  <div class="header posiR f30">
    
    <h3 @click.prevent="changebg = true">
      <img :src="sellerInfo.background" alt="" class="head" v-if="sellerInfo.background.indexOf('data:image/') > -1">
      <img :src="globalAvatar+sellerInfo.background" alt="" class="head" v-if="sellerInfo.background.indexOf('.jpg') > -1">
    </h3>
    <p class="blueLCR">
      <span @click.prevent="praiseBG">
        <i class="iconfont icon-heart-opp-copy f30"></i> {{sellerInfo.praise}}
      </span>
    </p>
    <dl class="tR">
      <dt>
        <ol class="flexBox">
          <li class="flex1 whiteCR f36">{{sellerInfo.nick}}</li>
          <li>
            <img :src="headImg" alt="">
          </li>
        </ol>
      </dt>
      <dd class="grayCR">{{sellerInfo.signature ? sellerInfo.signature : '这家伙很懒，什么都没留下'}}</dd>
    </dl>
  </div>

  <div class="conList">
  
    <div class="conOne">
      <div class="oneTop">
        <dl class="flexBox">
          <dt>
            <b>今天</b>
          </dt>
          <dd class="flex1">
            <p @click.prevent="goto('/prd/create')">
              <i class="iconfont icon-xiangji whiteCR"></i>
            </p>
          </dd>
        </dl>
      </div>
    </div>

    <div class="conOne" v-for="(item,index) in listData">
      <div class="oneTop">
        <dl class="flexBox">
          <dt v-if="formatDateTime(new Date().getTime()) != item.publish.split(' ')[0] && !isYestday(new Date(item.publish.split('-').join('/')).getTime())">
            <b >{{item.publish.split(' ')[0].split('-')[2]}}</b>{{item.publish.split(' ')[0].split('-')[1]}}月
          </dt>
          <dt v-else>
            <b >{{isYestday(new Date(item.publish.split('-').join('/')).getTime()) ? '昨天' : '今天'}}</b >
          </dt>
          <dd class="flex1">
            <h5 class="f30" @click.prevent="goto('/prd/create?id='+item.id)">{{item.desc}}</h5>
            <ul class="blueLCR">
              <li v-for="(item2,index2) in JSON.parse(item.imgs)" @click.prevent="previewImage(item2,item.imgs)">
                <img :src="globalAvatar+'goods/'+item2" alt="">
              </li>
            </ul>
            <ol class="flexBox">
              <li class="flex1 redCR f30">
                <span v-if="item.status == 0"
                     @touchend.prevent="beforeOnoff(item,1)"><i class="iconfont icon-xiajia f36 blueLCR"></i></span> 
                <span v-else  @touchend.prevent="beforeOnoff(item,2)"><i class="iconfont icon-ccgl-xiajia f36 blueLCR"></i></span> 
                ¥ {{item.price_range}} <span class="grayCR f21 mL10">已售{{item.total_sell?item.total_sell:0}}件</span>
              </li>

              <li class="blueLCR posiR" v-if="item.status == 0">
                <span @click.prevent="item.showComment = !item.showComment;curListIndex = index"><i class="iconfont icon-xiaoxi15-copy f36"></i></span>
                <p class="whiteCR flexBox1 fadeIn animated2dot" v-if="item.showComment">
                  <span @click.prevent="beforeOnoff(item,4)">
                    <i class="iconfont icon-fuzhi f30"></i> 复制
                  </span>

                  <span  v-if="!item.praised" @click.prevent="praisePrd(item,index)">
                    <i class="iconfont icon-xinheart282 f30"></i> 点赞
                  </span>

                  <span  @click.prevent="beforeOnoff(item,3,index)">
                    <i class="iconfont icon-top f30"></i> 置顶
                  </span>

                  <span @click.prevent="reinitShare (item,paraData.uid)">
                    <i class="iconfont icon-zhuanfa f40"></i> 转发
                  </span>

                  <span @click.prevent="beforeReply(item,index)" 
                        v-if="item.show_comment">
                        <i class="iconfont icon-xiaoxi15-copy f30"></i> 评论
                  </span>
                  
                </p>
              </li>
            </ol>
          </dd>
        </dl>
      </div>

      <div class="comment posiR f30" v-if="item.status == 0 && (item.comment_head || item.praise_head)">
        <i class="iconfont icon-caret-up f48"></i>

        <!--点赞头像-->
        <dl class="stars flexBox blueLCR" v-if="item.praise_head">
          <dt>
            <i class="iconfont icon-xinheart282 f30"></i>
          </dt>
          <dd class="flex1">
           <img :src="globalAvatar+item3" alt="" v-for="(item3,index3) in JSON.parse(item.praise_head)">
          </dd>
        </dl>

        <!--评论内容-->
        <div class="comList" v-if="item.comment_head">
          <dl class="flexBox">
            <dt>
              <i class="iconfont icon-pinglun blueLCR f30"></i>
            </dt>
            <dd class="flex1">
              <ol class="flexBox" 
                v-for="(item2,index2) in JSON.parse(item.comment_head)"
                @click.prevent="replaySomeone(item2,item.id,index)">
                <li>
                  <img :src="globalAvatar+item2.avatar" alt="">
                </li>
                <li class="flex1">
                  <p class="blueLCR">
                    <span class="f21 grayCR fr">{{item2.updated_at}}</span>
                    {{item2.nick?item2.nick:'小小麦'}}
                  </p>
                  <template v-if="item2.old_uid">回复<span class="special blueLCR">{{item2.old_nick}}</span></template>{{item2.comment}}
                </li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

</scroller>
  <div slot="footer">
    <div class="footComment animateds slideInUp" v-if="reply">
      <dl class="flexBox">
        <dt class="flex1"><input type="text" class="f30 blackCR" :placeholder="placeholder" v-model="comment.tips"></dt>
        <dd>
          <span class="btn btn-green btn-sm" @touchend.prevent="goodsComment">发送</span>
        </dd>
      </dl>
    </div>
    <myfooter :current="navType" v-else></myfooter>
    <div class="mask" v-if="reply" @touchend.prevent="reply = false"></div>
    
    <modal-dialog :dialogshow2.sync="needLogin" @hide="closeDialog('needLogin')"  :fail='true'>
      <div class="dialog-header" slot="dialog-header">
        您的登陆信息已失效，请重新登陆
      </div>

      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="redirect">
          <button type="button" class="btn btn-green">登陆</button>
        </dd>
      </dl>    
    </modal-dialog>

    <modal-dialog :dialogshow2.sync="iAmGuestClick" @hide="closeDialog('iAmGuestClick')">
        <div class="dialog-header" slot="dialog-header">
          您还没有登陆哦
        </div>
    
        <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="redirect">
            <button type="button" class="btn btn-green">登陆</button>
          </dd>
        </dl>
    </modal-dialog>

    <dialog-del :dialogshow2.sync="del" @hide="closeDialog('del')">
        <div class="del-header tC grayCR " slot="dialog-header">
          {{popDel.title[popIndex]}}
        </div>
        <div slot="dialog-footer" class="del-footer tC f30">
          <dl>
            <dt class="redCR" @touchend.prevent="popFuncs">{{popDel.content[popIndex]}}</dt>
            <dd @touchend.prevent="closeDialog('del')">取消</dd>
          </dl>          
        </div>

    </dialog-del>

    <dialog-del :dialogshow2.sync="changebg" @hide="closeDialog('changebg')">
        <div slot="dialog-footer" class="del-footer tC f30">
          <dl>
            <dt class="redCR" @touchend.prevent="chooseImg">更换背景</dt>
            <dd @touchend.prevent="closeDialog('changebg')">取消</dd>
          </dl>          
        </div>

    </dialog-del>

    <!-- <div class="shareMask" v-if="fromShare" @click.prevent="webClick = true"></div> -->
    <appshare :shareData="shareData" @initPoster="getPoster" @shareclose="closeDialog('shareFlag')" v-show="shareFlag"></appshare>

    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>

    <div class="showPic posiR" v-if="showCanvas">
      <img :src="testCanvas" alt="">
      <p class="btn btn-green">长按图片保存到手机</p>
      <i class="iconfont icon-close f48 blackCR" @touchend.prevent="showCanvas = false"></i>
    </div>
  </div>


</Layout>