<Layout>
  
  <myhead :hval="header" slot="header"></myhead>
  
  <div class="detailTop">
    <dl class="flexBox">
      <dt>
        <img :src="globalAvatar+'goods/'+JSON.parse(sellerInfo.imgs)[0]+'?imageView2/2/w/300/h/300/t/'" alt="" :onerror="errorImg">
      </dt>
      <dd class="flex1 f30">
        <p>{{sellerInfo.title}}</p>
        <span class="redCR f36">¥ {{sellerInfo.price_range}}</span>
      </dd>
    </dl>
  </div>

  <div class="specs" v-if="sellerInfo.spec">
    <h3 class="blackCR f30">选择规格</h3>
    <template v-for="(item,index) in JSON.parse(sellerInfo.spec)">
      <dl v-for="(value,key) in item">
        <dt class="blackCR">{{key}}</dt>
        <dd>
          <span v-for="(item2,index2) in value"
              :class="{'current':index2 === indexArr[index] || oneSpec}"
              @click.prevent="changeType(index,index2)">{{item2}}</span>
        </dd>
      </dl>      
    </template>
    <p class="btn btn-green btn-sm" @click.prevent="countList" v-if="!oneSpec">确定</p>
  </div>

  <div class="buyNum" v-if="sellerInfo.spec">
    <h3 class="blackCR f30">购买数量</h3>
    <dl class="flexBox" v-for="(item,index) in buyList">
      <dt class="flex1">
        {{item.name}}，<span>单价：￥ {{Number(item.price).toFixed(2)}}</span>
      </dt>
      <dd>
        <div class="flexBox1">
          <span class="mini" @touchend.prevent="minusPlus(false,index)">
            <i class="iconfont icon-sub"></i>
          </span>
          <input type="number" name="" v-model="item.count" class="flex1" @keyup.prevent="changeInput(2)">
          <span class="plus" @touchend.prevent="minusPlus(true,index)">
            <i class="iconfont icon-iconjia"></i>
          </span>          
        </div>
      </dd>
    </dl>
    <p v-if="!buyList.length" class="tC grayCR">请选择规格</p>
  </div>

  <div class="buyNum special" v-if="!seperatePrice && !sellerInfo.spec">
    <dl class="flexBox">
      <dt class="flex1 f30 blackCR">
        购买数量
      </dt>
      <dd>
        <div class="flexBox1">
          <span class="mini" @touchend.prevent="minusPlus(false)">
            <i class="iconfont icon-sub"></i>
          </span>
          <input type="number" name="" value="1" class="flex1" v-model="amount" 
                 @keyup.prevent="changeInput">
          <span class="plus" @touchend.prevent="minusPlus(true)">
            <i class="iconfont icon-iconjia"></i>
          </span>          
        </div>
      </dd>
    </dl>
  </div>

  <div class="myDetail ">
    <h3 class="blackCR f30">
      <span class="fr greenCR f24" 
          v-if="addressList.length > 1"
          @click.prevent="selectOne = true"><i class="iconfont icon-jia"></i> 选择已有地址</span>
      收货地址
    </h3>
    <dl class="dls">
      <dt class="blackCR">收货人</dt>
      <dd>
        <input type="text" name="" v-model="paraReceive.name">
      </dd>
    </dl>
    <dl class="dls">
      <dt class="blackCR">联系方式</dt>
      <dd><input type="number" name="" v-model="paraReceive.tel"></dd>
    </dl>
    <dl class="dls">
      <dt class="blackCR">所在地区</dt>
      <dd @click.prevent="choseAdd()" class="posiR">
        <input type="text" name="" value="" v-model="paraReceive.district">
        <span class="mask"></span>
      </dd>
    </dl>
    <dl class="dls">
      <dt class="blackCR">详细地址</dt>
      <dd><input type="text" name="" v-model="paraReceive.address"></dd>
    </dl>
  </div>

  <div class="myDetail special">
    <dl class="dls">
      <dt class="blackCR">买家留言</dt>
      <dd>
        <input type="text" name="" v-model="paraReceive.buyer_remark">
      </dd>
    </dl>
  </div>

  <div slot="footer" :style="statusBarH">
    <div class="footer tC  f30">
      <dl class="flexBox">
        <dt class="flex1">商品总价：<span class="redCR">¥ {{Number(totalPrice).toFixed(2)}}</span></dt>
        <dd class="whiteCR" @click.prevent="payment">立即购买</dd>
      </dl>
    </div>
    <loading :loading="loading" :loadError="loadError"></loading>    

    <!-- 收货地址三级联动选项 start-->
      <section class="address f30" :class="{toggHeight:istoggHeight}">
        <section class="title">
          <div class="btn btn-green btn-sm fr determine" v-show="showDeter" @click="determine()">确定</div>
          <div class="area" @click="provinceSelected()" :class="[oneac ? 'accolor' : '']">{{Province?Province:'请选择'}}</div>
          <div class="area" @click="citySelected()" :class="[twoac ? 'accolor':'']" v-show="twoshow">{{City?City:'请选择'}}</div>
          <div class="area" @click="districtSelected()" :class="threeac ? 'accolor':''" v-show="threeshow">{{District?District:'请选择'}}</div>
        </section>
        <ul :class="['proJuli animated2dot',{'slideInRight':showProvince},{'dn':!showProvince}]">
          <li class="addList" v-for="(v,k) in info" @click="getProvinceId(v.id, v.name, k)" :key="v.id"  :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
        <ul :class="['citJuli animated2dot',{'slideInRight':showCity},{'dn':!showCity}]">
          <li class="addList" v-for="(v,k) in showCityList" @click="getCityId(v.id, v.name, k)"  :key="v.id"  :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
        <ul :class="['disJuli animated2dot',{'slideInRight':showDistrict},{'dn':!showDistrict}]">
          <li class="addList" v-for="(v,k) in showDistrictList" @click="getDistrictId(v.id, v.name, k)" :key="v.id" :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
      </section>

    <!-- 收货地址三级联动选项 end-->
    <div class="layout" :class="{layoutBg:islayout}" @click="closeAdd()"></div>

    <modal-dialog :dialogshow2.sync="selectOne" @hide="closeDialog('selectOne')" :fail='true'>
        <div class="dialog-header" slot="dialog-header">
          选择地址
        </div>
        <div class="selectAddress " slot="dialog-body">
          <dl class="flexBox" v-for="(item,index) in addressList" 
            >
            <dd class="special" @click.prevent="setDefault(item,index)">
              <i class="iconfont icon-duihao1 f36 redCR" v-if="index == selectIndex"></i>
            </dd>
            <dt class="flex1" @click.prevent="setDefault(item,index)">
              <h5 class="blackCR">{{JSON.parse(item.info)['name']}}，{{JSON.parse(item.info)['tel']}}</h5>
              <p>
                {{JSON.parse(item.info)['district']['Province']}}
                {{JSON.parse(item.info)['district']['City']}} 
                {{JSON.parse(item.info)['district']['District']}} 
                {{JSON.parse(item.info)['address']}}</p>
            </dt>
<!--             <dd class="grayCR" @touchend.prevent="delAddress(item.id)">
              删除
            </dd> -->
          </dl>
        </div>        
        <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="closeDialog('selectOne')">
            <button type="button" class="btn btn-green">取消</button>
          </dd>
        </dl>
    </modal-dialog>


  </div>

</Layout>