.wrap{
  /*background:#fbe8df url(../../../assets/img12/login/invite.jpg) no-repeat center top;*/
  background-size: 100%;
}

.iconMobile:active{
  background-position: -151px -135px;
}
.login ul{
  width: 505px;
  margin: 0 auto;
}
.login li{
  display: inline-block;
  width: 250px;
  text-align: center;
}
.mobileLogin{
  padding-top: 200px;
  position: relative;
  padding-bottom: 50px;
}
.mobileLogin i.icon-arrowl{
  position: absolute;
  left: 40px;
  top: 100px;
}
.mobileLogin h2{
  padding:10px 0 40px;
  text-shadow: 0 0 10px #bd353c, 0 0 10px #bd353c, 0 0 20px #bd353c;
}
.mobileLogin h1{
  text-shadow: 0 0 10px #bd353c, 0 0 10px #bd353c, 0 0 20px #bd353c;  
  padding: 0 50px;
}
.mobileLogin h3{
  color: #dedee6;
}
.mobileLogin .btnDiv{
  display: -webkit-box;
  display: flex;  
  width: 75%;
  margin:0 auto 20px;
  padding-top: 20px;
}
.mobileLogin .btnDiv span{
  display: block;
  width: 15px;
}

.mobileLogin .btnDiv p{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 0%;  
  border-radius: 45px;
  height: 85px;
  line-height: 85px;
  box-shadow: 0px 0px 32px rgba(198, 85, 90,.4);
  background: #ffe9a5;
  text-align: center;
  color: #c2484f;
  font-size: 30px;
}
.mobileLogin p:active{
  background: rgba(255,255,255,.4);
}
.mobileLogin p.wechat{
  /*background: #9ad13d url(../../../assets/img12/login/icon.png) no-repeat 130px -70px;*/
  background-size: 60px;
}
.mobileLogin .appLogin.wechat{
  text-align: center;
  padding-left: 50px;
  background-position: 200px -70px;
}
.mobileLogin dl{
  border-radius: 45px;
  height: 85px;
  /*line-height: 96px;*/
  /*border:1px solid #dedee6;no*/
  width: 75%;
  margin:0 auto 20px;
  display: -webkit-box;
  display: flex;
  background: rgba(255,255,255,.2);
  box-shadow: 0px 0px 32px rgba(198, 85, 90,.4);
  align-items: center;
  color: #fff
}

.mobileLogin dl dt.special{
    min-width: 110px; 
    text-align:left;
    margin-left: 20px;
}
.mobileLogin dl dd{
    padding-left: 20px;
}
.mobileLogin dl dd.special{
  width: 80px;
  border-right: 1px solid #f1c7c9;/*no*/
  text-align: center;
}
.mobileLogin dl dd.special i.icon-shouji1{
  position: relative;
  top: -3px;
}
.mobileLogin dl dd b{
    position: absolute;
    top: -40px;
    left: 0;
    right: 0; 
    bottom: 0;
    border-radius: 5px;
    width: 75%;
    margin: 0 auto;
}
.mobileLogin dl dt{
  width: 180px;
  line-height: 85px;
  text-align: center;
  border-left:2px solid #d7696e;
}
.mobileLogin dd div{
  line-height: 40px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  display: block;
}
.mobileLogin dd input{
  border: none;
  display: block;
  width: 80%;
  color: #fff;
} 
.mobileLogin dd input::-webkit-input-placeholder{
    color: #fff;
}

.mobileLogin h5{
  width: 75%;
  margin:0 auto 15px;
  /*text-align: right;*/
  /*padding:0 20px;*/
}
.mobileLogin h5 span{
  padding: 10px 0;
  color: #dedee6;
}
.mobileLogin h5 span.fr{
  position: relative;
  top: -10px;
}

.mobileLogin h6 i{
  color: #e99698;
  box-shadow: 0px 0px 32px rgba(198, 85, 90,.4);
}
.mobileLogin h6 i.icon-fuxuankuang{
  color: #d14c57
}
.inviteImg{
  width: 80%;
  margin: 0 auto;
}
.inviteImg li{
  padding: 40px 15px 0;
  line-height: 42px;
}
.inviteImg li img{
  background: #fff;
  border-radius: 30px;
  width: 60%
}
.mobileReg .clickImg img{
  width: 100%;
}


.otherLogin{
  margin:60px auto;  
  text-align: center;
}
.otherLogin i{
  font-size: 56px;
}
