.speTop{
  padding-bottom: 0!important;
}
.speTop h6{
  padding-top: 30px;
}

.myDetail{
  padding: 0px 0;    
  margin: 0 30px;
  line-height: 48px;
  color: #4e4e4e
}

.myDetail dl{
  padding: 50px 0 0;
}
.myDetail dl dd{
  padding: 8px 0;
}
.myDetail dl dd p{
  display: inline-block;
  margin-right: 15px;
  background: #ebebeb;
  padding: 0px 10px 0 20px;
  border-radius: 10px;
  height: 55px;
  line-height: 55px;
  margin-top: 15px;
}
.myDetail dl dd p.special{
  text-align: center;
  background: none;
  border:1px solid #848484;/*no*/
  min-width: 100px;
  padding: 0;
}
.myDetail dl dd p.special:active{
  background: #c7edbd;
}
.myDetail dl dd p span{
  padding: 8px 5px 8px 5px;
}
.myDetail dl dd p span:active{
  color: #d66167
}

.myDetail dl dd.grayCR{
  padding-top: 10px;
}
.icon-bianji1{
  font-size: 28px;
}
.icon-arrowR{
  width: 25px;
  height: 22px;
  background-position: -73px 0;
  position: relative;
  top: 1px
}

.speTop{
  width: 100%;
  padding: 30px 30px;
}
.speTop p{
  width: 100%;
  background: #fff;
  border:1px solid #51aa38!important
}
.footer dl{
  width: 100%;
  padding: 30px 30px;
}
.footer dl dt{
}
.footer dl p{
  width: 90%;
}
.footer dl dt p{
  background: #fff;
  border:1px solid #51aa38!important
}
.footer dl dt p:active{
  background: #b9ddaf;
  /*border:1px solid #51aa38!important*/
}
.inputSet {
  padding-top: 15px;
}
.inputSet input{
    border: 1px solid #acacac;/*no*/
    width: 100%; 
    line-height: 50px;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;

}










