<Layout>
  
  <!-- <myhead :hval="header" slot="header" @popshow="addFirstSpec"></myhead> -->
  <div class="speTop">
    <!-- <p class="btn btn-green greenCR" @touchend.prevent="addFirstSpec">添加规格</p> -->
    <h6 class="grayCR tC f21">
      <!-- 如： -->
      <span :class="['btn btn-default btn-sm mL10']" 
            v-for="(item,index) in tabs" 
            @click.prevent="changeType(index,item)">{{item.name}}</span>
    </h6>
  </div>

  <!--右上角是添加-->
  <div class="myDetail" >
<!--       <dl v-for="(item,index) in specs">
        <dt class="f30">
          {{item.type}} <span @click.prevent="delProperty(index)"><i class="iconfont icon-chahao redCR f30"></i></span>
        </dt>
        <dd>
          <p v-for="(item2,index2) in item.value">
            {{item2}}
            <span @click.prevent="item.value.splice(index2,1)"><i class="iconfont icon-chahao f30"></i></span>
          </p>
          <p class="special" @click.prevent="curProperty = index;addSecond = true">
            <span><i class="iconfont icon-iconjia"></i></span>
          </p>
        </dd>
      </dl> -->

    <template v-for="(item,index) in specs">
      <dl v-for="(value, key) in item">
        <dt class="f30">
          {{key}} <span @click.prevent="delProperty(index)"><i class="iconfont icon-chahao redCR f30"></i></span>
        </dt>
        <dd>
          <p v-for="(item2,index2) in value">
            {{item2}}
            <span @click.prevent="delSecProperty(value,index2,item2)"><i class="iconfont icon-chahao f30"></i></span>
          </p>
          <p class="special" @click.prevent="curProperty = index;addSecond = true">
            <span><i class="iconfont icon-iconjia"></i></span>
          </p>
        </dd>
      </dl>        
    </template>

  </div>



  <div slot="footer" :style="statusBarH">
    <div class="footer tC f30">

      <!-- <p class="btn btn-green" @click.prevent="goto(header.link)">确定</p> -->
      <dl class="flexBox1">
        <dt class="f21 grayCR">
            <p class="btn btn-green greenCR" @click.prevent="goBack">取消</p>
        </dt>
        <dd><p class="btn btn-green" @click.prevent="goto(header.link)">确定</p></dd>
      </dl>
    </div>

    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>

    <modal-dialog :dialogshow2.sync="addFirst" @hide="closeDialog('addFirst')"  :fail='true'>
      <div class="dialog-header" slot="dialog-header">
        添加规格
      </div>
      <div class="inputSet" slot="dialog-body">
        <input type="text" placeholder="如：颜色、尺寸、重量..." name="" v-model="firstVal">
      </div>
      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="closeDialog('addFirst')">
          <button type="button" class="btn btn-green">取消</button>
        </dd>
        <dd  @touchend.prevent="addSpec">
          <button type="button" class="btn btn-green">确定</button>
        </dd>
      </dl>    
    </modal-dialog>

    <modal-dialog :dialogshow2.sync="addSecond" @hide="closeDialog('addSecond')"  :fail='true'>
      <div class="dialog-header" slot="dialog-header">
        添加 <span class="redCR"  v-for="(value, key) in specs[curProperty]">{{key}}</span> 的属性
      </div>
      <div class="inputSet" slot="dialog-body">
        <input type="text" placeholder="" name="" v-model="secondVal">
      </div>
      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="closeDialog('addSecond')">
          <button type="button" class="btn btn-green">取消</button>
        </dd>
        <dd  @touchend.prevent="addProperty">
          <button type="button" class="btn btn-green">确定</button>
        </dd>
      </dl>    
    </modal-dialog>

    <modal-dialog :dialogshow2.sync="delSpec" @hide="closeDialog('delSpec')"  :fail='true'>
      <div class="inputSet f30 tC" slot="dialog-body">
        您确定要删除 <span class="redCR" v-for="(value, key) in specs[curDel]">{{key}}</span> 规格吗
      </div>
      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="closeDialog('delSpec')">
          <button type="button" class="btn btn-green">取消</button>
        </dd>
        <dd  @touchend.prevent="delSubmit">
          <button type="button" class="btn btn-green">确定</button>
        </dd>
      </dl>    
    </modal-dialog>
 
  </div>

</Layout>