.wrap{
    background: #ebebeb
}

.success h3{
  padding: 40px 0;    
  margin: 0 0px 15px; 
  line-height: 48px;
  border-bottom:1px solid #e4e4e4;/*no*/
  background: #fff;
  text-align: center;
}
.success h3 span{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 40px 10px 30px 30px;

}

.success .bg{
  padding: 15px 0;
  border-bottom:15px solid #ebebeb;
  background: #fff;
}
.success dl{
  line-height: 60px;
  margin: 0 30px;
  width: auto;
}
.success .bg p{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.success .bg p img{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.success dl.special{
  border-top: 1px solid #a0a0a0;/*no*/  
  padding-top: 15px;
  margin-top: 15px;
}
.footer dl{
  width: 100%;
  padding: 30px 30px;
}
.footer dl dt{
  padding-bottom: 20px;
}
.footer dl p{
  width: 100%;
}
.footer dl dt p{
  background: #fff;
  border:1px solid #51aa38!important
}
.footer dl dt p:active{
  background: #b9ddaf;
  /*border:1px solid #51aa38!important*/
}
.showPic{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #ebebeb;
}
.showPic p{
  text-align: center;
  line-height: 0;
  width: 100%;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  display: -webkit-box;
  display: flex;  
  align-items: center;
  justify-content: center;
  padding-bottom: 90px;
}
.showPic img{
  position: relative;
  z-index: 101;
  width: 100%;
  /*margin-top: 60px;*/
}
.showPic i{
  position: fixed;
  z-index: 103;
  right: 10px;
  top: 10px;
  -webkit-overflow-scrolling: touch;
}
.showPic button{
  position: fixed;
  z-index: 104;
  bottom: 0px;
  /*width: 100%;*/
  left: 0px;
  right: 0px;
  width: 100%;
}
.qrcode img{
  width: 344px;
  height: 344px;
}












