<Layout>
  <myhead :hval="header" slot="header" v-if="!header.opacity"></myhead>

  <div class="success blackCR f30">
    <h3 class="posiR">
      {{orderStatus}}
      <span v-if="header.opacity" @click.prevent="goto(header.link)">
        <i class="iconfont icon-fanhui f36"></i>
      </span>      
    </h3>
    <div class="bg">
      <dl class="dls">
        <dt>卖家：</dt>
        <dd>{{sellerInfo.nick}}</dd>
      </dl>
      <dl class="dls">
        <dt>商品：</dt>
        <dd>
          <p class="posiR"><img :src="globalAvatar+'goods/'+head_image+'?imageView2/2/w/100/'" alt="" :onerror="errorImg"></p>
          {{orderInfo.commdity_name}}
        </dd>
      </dl>
      <dl class="dls">
        <dt>价格：</dt>
        <dd>{{orderInfo.amount}} 元</dd>
      </dl>
      <dl class="dls">
        <dt>数量：</dt>
        <dd>{{count}}</dd>
      </dl>
      <dl class="dls">
        <dt>订单号：</dt>
        <dd>{{orderid}}</dd>
      </dl>
      <dl class="dls special">
        <dt>收件人：</dt>
        <dd>{{addressInfo.receiver}}</dd>
      </dl>
      <dl class="dls">
        <dt>电话：</dt>
        <dd>{{addressInfo.mobileno}}</dd>
      </dl>
      <dl class="dls">
        <dt>地址：</dt>
        <dd>{{addressInfo.address}}</dd>
      </dl>
    </div>
    <div class="bg" v-if="sellerInfo.service_mobileno || sellerInfo.weixin || sellerInfo.qq">
      <dl class="dls" v-if="sellerInfo.service_mobileno">
        <dt>客服手机：</dt>
        <dd>{{sellerInfo.service_mobileno}}</dd>
      </dl>
      <dl class="dls" v-if="sellerInfo.weixin">
        <dt>客服微信：</dt>
        <dd>{{sellerInfo.weixin}}</dd>
      </dl>
      <dl class="dls" v-if="sellerInfo.qq">
        <dt>客服QQ：</dt>
        <dd>{{sellerInfo.qq}}</dd>
      </dl>
    </div>
    </div>
  </div>

  <div slot="footer" :style="statusBarH">
    <div class="footer tC f30">
      <dl>
        <dt class="f21 grayCR">
            <p class="btn btn-green greenCR" @click.prevent="getPoster">保留订单截图到手机</p>
        </dt>
        <dd v-if="header.opacity"><p class="btn btn-green" @click.prevent="fansXxm">关注小小麦微信公众号随时查</p></dd>
        <dd v-else>
          <p class="btn btn-green" @click.prevent="qrcode = true">关注小小麦微信公众号随时查</p>
        </dd>
      </dl>
    </div>

    <loading :loading="loading" :loadError="loadError"></loading>    

    <div class="showPic posiR" v-if="showCanvas">
      <p><img :src="testCanvas" alt=""></p>
      <button type="button" class="btn btn-green">长按上方图片保存到手机</button>
      <i class="iconfont icon-close f48 blackCR" @touchend.prevent="showCanvas = false"></i>
    </div>

    <modal-dialog :dialogshow2.sync="qrcode" @hide="closeDialog('qrcode')" :fail=true>
        <div class="qrcode tC" slot="dialog-body">
          <img src="../../../assets/img12/index/qrcode.jpg" alt="">
          <p>保存图片微信扫码关注<span class="redCR">“小小麦的家"</span></p>
        </div>
        
        <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="closeDialog('qrcode')">
            <button type="button" class="btn btn-green">确定</button>
          </dd>
        </dl>
    </modal-dialog>

  </div>

</Layout>