.wrap{
  background: #fff;
}
.tab{
}
.tab li{
  padding: 25px 0;  
}
.tab .current{
  border-bottom: 3px solid #51aa38;
}
.header{
  background: #696f77;
  /*height: 250px;*/
  padding: 50px 0;
}
.header dl{
  padding: 50px 0px 0;
  text-align: center;
}
.header dl span{
/*  background: #f5c03e;
  text-shadow: 0 0 0px rgba(0,0,0,.16), 0 0 5px rgba(0,0,0,.16), 0 0 10px rgba(0,0,0,.16);
*/  padding: 0 60px;
  font-size: 28px;
}
.header dl span:last-child{
  /*margin-left: 40px;*/
}

.header ul{
  align-items: start;
}
.header li:first-child:before{
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  content: ' ';
  width: 1px;
  border-right: 1px solid #cbcbcb;/*no*/
}
.header li p{
  font-size: 60px;
  text-shadow: 0 0 0px rgba(0,0,0,.16), 0 0 5px rgba(0,0,0,.16), 0 0 10px rgba(0,0,0,.16);
}
.title{
  padding: 30px;
}
.chatForm{
  padding: 0 0px 30px 0px;
  height: 380px;
  /*background: #c9c9c9*/
}
#lineMain{
  height: 350px;
  background: #fff;
  width: 100%;
}
.noData{
  width: 100%;
  height: 100%;
  background: url(../../../assets/img12/other/nodata.jpg) no-repeat center center;
  background-size: 100%;
}
.detailTop{
  padding: 30px 30px;    
  border-top: 15px solid #ebebeb;
}
.detailTop dl dt{
  line-height: 0
}
.detailTop dt img{
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
.balance{
  padding: 20px 0 0;
  line-height: 60px;
}
.balance dl dt{
  padding-left: 30px;
  width: 180px;
}
.balance dl dd{
  /*padding-left: 20px;*/
}
.index-wrap{
  border-top: 15px solid #ebebeb;
  padding:20px 30px 30px;
  position: relative;
  z-index: 2;
}
.index-wrap p{
  padding-bottom: 20px;
}
.index-wrap p span{
  /*padding: 10px 0;*/
}
.index-wrap p span:last-child{
  margin-left: 30px;
}
.index-wrap table{
  border-top: 1px solid #c1c1cc;/*no*/
  width: 100%;
  color: #4e4e4e;
  text-align: center;
  table-layout:fixed;
}
.index-wrap table tr th{
  padding: 15px 0;
  font-weight: normal;
}
.index-wrap table tr td{
  padding: 18px 0;
  border-top: 1px solid #c1c1cc;/*no*/
}
.index-wrap table tr td div{
  text-align: left!important;
}
.index-wrap img{
  width: 80%;
  /*height: 9;*/
}
.determine{
  top: 13px;
  position: relative;
  right: 20px;
}
.date-picker{
  display: inline-block;
  height: 70px;
  background: #fff;
}
.date-picker .input-wrapper{
  height: 54px!important;
  background: #fff;
}
.input{
  line-height: 60px;
  border-color: #7f7f7f;
}
.selectAddress{
  max-height: 500px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  line-height: 48px;
  color: #4e4e4e
}
.selectAddress > p{
  padding-top: 20px;
}
.selectAddress dl{
  border-bottom: 1px solid #c9c9c9;/*no*/
  padding: 15px 0;
}
.selectAddress dd img{
  width: 80px;
  height: 80px;
}
.selectAddress dl dt{
  padding:0 10px;
  color: #7b7b7b;
}
.selectAddress dl dd.special{
  width: 45px;
}
.selectAddress dl dd.grayCR{
  border-left: 1px solid #c9c9c9;/*no*/
  padding: 0 0 0 20px
}