<Layout>
  <div>
    <myhead :hval="header" slot="header"></myhead>
  </div>

  <div class="tab tC blackCR f30">
    <ul class="flexBox1">
      <li v-for="(item,index) in tabs" 
          :class="{'greenCR current':index == isCur}"
          @click.prevent="changeTabs(index)">{{item.name}}</li>
    </ul>
  </div>
  <div class="detailTop" v-show="isCur == 1">
    <dl class="flexBox" @click.prevent="selectOne = true;">
      <dt>
        <img :src="globalAvatar+'goods/'+JSON.parse(sellerInfo.imgs)[0]+'?imageView2/2/w/300/h/300/t/'" alt="" :onerror="errorImg">
      </dt>
      <dd class="flex1 f30">
        {{sellerInfo.title}}
        <p class="redCR">¥ {{sellerInfo.price_range}}</p>
      </dd>
      <dd>
        <i class="iconfont icon-jiantou f48 greenCR"></i>
      </dd>
    </dl>
  </div>

  <div v-show="isCur == 0 || isCur == 1">
    <div class="header posiR whiteCR">
      <ul class="flexBox1 tC">
        <li class="posiR">
          今日售出（件）
          <p>{{saleData.today_sale_count?saleData.today_sale_count:'0.00'}}</p>
        </li>
        <li class="posiR">
          本月售出（件）
          <p>{{saleData.month_sale_count?saleData.month_sale_count:'0.00'}}</p>
        </li>
      </ul>
    </div>    

    <div class="title">
      <dl class="flexBox">
        <dt class="flex1">商品售出数量</dt>
        <dd class="dn">
          <datepicker v-model="paraData.begin_time" :max="paraData.end_time" language='ch'></datepicker>
           - 
           <datepicker v-model="paraData.end_time"  :min="paraData.begin_time" language='ch'></datepicker>
        </dd>
        <dd>
          <span :class="['btn btn-default btn-sm mL10',{'btn-green whiteCR':index == isCur2}]" 
              v-for="(item,index) in tabsData" 
              @click.prevent="changeType(index)">{{item.name}}</span>
        </dd>
      </dl>
    </div>

    <div class="chatForm">
      <div class="noData" v-if="noData">
      </div>
      <div id="lineMain" v-show="!noData"></div>
      
    </div>

    <div class="balance f30">
      <dl class="flexBox blackCR">
        <dt>总收入：</dt>
        <dd class="grayCR">{{listData.total_amount}} 元</dd>
      </dl>
      <dl class="flexBox blackCR">
        <dt>售出商品：</dt>
        <dd class="grayCR">{{listData.total_count}} 件</dd>
      </dl>
    </div>
    
  </div>

  <div class="index-wrap  fadeIn animateds" v-if="isCur == 2">
    <p class="f30">
      <span v-for="(item,index) in tabsSeq" 
            :class="['btn btn-default btn-sm',{'btn-green current whiteCR':index == isCur3}]"
            @click.prevent="changeSeq(index,item.type)">{{item.name}}</span>
      <!-- <span>按数量</span> -->
    </p>
    <table>
      <thead>
        <tr>
          <th width="10%">序号</th>
          <th width="15%">产品</th>
          <th width="30%">名称</th>
          <th width="20%">数量(件)</th>
          <th width="25%">价格(元)</th>
        </tr>
      </thead>
      <tbody>

        <tr v-for="(item,index) in rankData">
          <td>
            {{index+1}}
          </td>
          <td>
            <img :src="globalAvatar+'goods/'+item.head_image" alt="" :onerror="errorImg">
          </td>
          <td>
            {{item.title}}
          </td>
          <td>
            {{item.count}}
          </td>
          <td>
            {{item.amount}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="tC noDataDiv"  v-if="!rankData.length">
      <nodate noText="暂无记录"></nodate>
    </div>
  </div>


  <div class="footer" slot="footer">
    <modal-dialog :dialogshow2.sync="selectOne" @hide="closeDialog('selectOne')" :fail='true'>
        <div class="dialog-header" slot="dialog-header">
          选择商品
        </div>
        <div class="selectAddress " slot="dialog-body">
          <dl class="flexBox" v-for="(item,index) in allPrdData" 
            @click.prevent="setSellerInfo(item)">
            <dd>
              <img :src="globalAvatar+'goods/'+JSON.parse(item.imgs)[0]+'?imageView2/2/w/300/h/300/t/'" alt="">
            </dd>
            <dt class="flex1">
              <h5 class="blackCR">{{item.title}}</h5>
              <p class="redCR">¥ {{item.price_range}}</p>
            </dt>
            <dd class="special">
              <i class="iconfont icon-jiantou f36 lightCR"></i>
            </dd>
          </dl>
          <p class="greenCR tC" v-if="paraData.pn != totalPages" @click.prevent="paraData.pn++;fetchList">查看更多</p>
        </div>        
<!--         <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="closeDialog('selectOne')">
            <button type="button" class="btn btn-default">确定</button>
          </dd>
        </dl> -->
    </modal-dialog>
  </div>

  
</Layout>