
.myAddress{
  padding: 30px 0;    
  margin: 0 30px 30px; 
  color: #7d7d7d;
  line-height: 48px;
  border-bottom:1px solid #e4e4e4;/*no*/
}

.myDetail{
  padding: 0px 0 30px;    
  margin: 0 30px;
  line-height: 48px;
  color: #7d7d7d
}
.myDetail p{
  padding-bottom: 10px;
}

.myDetail.special dl{
  border-top:1px solid #e4e4e4;/*no*/
  padding: 30px 0;    
}
.myDetail dl dd.tR{
  padding-left: 20px;    
}
.footer dl{
  width: 100%;
  border-top: 1px solid #d66167;/*no*/
  background: #fff;
  height: 90px;
}
.footer dd{
  width: 33%;
  background: #d66167;
  height: 89px;
  line-height: 89px;
}















