

.method1{
  padding: 40px 30px;    
  line-height: 48px;
  border-bottom: 15px solid #ebebeb;
}
.special{
  border-bottom: none;
}
.method1 dl{
  align-items:flex-start;
}
.method1 dt{
  width: 60px;
}
.method1 dd input{
  display: inline-block;
  width: 50%;
  height: 55px;
  line-height: 32px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  border:1px solid #adadad!important;/*no*/
  background: #fff;
  margin-right: 15px;
}
.method1 p{
  padding-top: 20px;
}
.myDetail dl{
  padding-bottom: 30px;
}

.method2{
  margin: 0 90px;
  border-bottom: 1px solid #f1f1f1;/*no*/
}
.method2 ul li{
  padding-bottom: 30px;
}
.footer{
  width: 100%;
  padding: 30px 30px;
}
.footer dl{
}
.footer p{
  width: 100%;
}

.address{
  position:absolute;
  bottom:0;
  left:0;
  z-index:121;
  background:#fff;
  width:100%;
  height: 0;
  overflow: hidden;
  transition: height .5s;
}
.toggHeight{
  height: 600px;
}
.layout{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:120;
  opacity: 0;
  transition: all .5s;
  background:rgb(53, 58, 60);
  visibility: hidden;
}
.layoutBg{opacity: .7; visibility: visible;}
.area{
  /*float: left;*/
  display:inline-block;
  font-size:24px;
  margin-left:0.42rem;
  color:#4e4e4e;
  line-height: 80px;
  max-width: calc(100% - 80%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.addList{
  margin-left: .4rem;
  color:#4e4e4e;
  line-height: 50px;
}
/* 修改的格式 */
.address ul{
  height: 520px;
  padding: 10px 0 20px;
  overflow:auto;
}
.address ul li{
  list-style: none;
}
.address .title .accolor{
  color: #d66167;
  /*border-bottom:2px solid #d66167;*/
}
.address ul .active{
  color:#d66167;
}
.address ul .active span::after{
  content: "\e631";
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  padding-left: 10px;
}
.title{
  height: 80px;
  border-bottom: 1px solid #8a96a3;/*no*/
}
.determine{
  top: 13px;
  position: relative;
  right: 20px;
}











