<Layout>
  
  <myhead :hval="header" slot="header"></myhead>
  

  <div class="method1">
    <dl class="flexBox blackCR">
      <dt  @click.prevent="priceSet.curIndex = 0" class="">
        <i :class="['iconfont f30',{'icon-danxuankuang':priceSet.curIndex != 0},{'greenCR icon-danxuankuang1':priceSet.curIndex == 0}]"></i>
      </dt>
      <dd class="flex1 ">
        <div  @click.prevent="priceSet.curIndex = 0" class="f30">
          方式一：统一定价
        </div>
        <p class="posiR">
          <input type="number" v-if="priceSet.curIndex == 0" v-model="priceSet.def_price">
          <input type="number" v-else disabled="disabled" v-model="priceSet.def_price">
          元
          <span class="mask" v-if="priceSet.curIndex == 1"></span>
        </p>
      </dd>
    </dl>
  </div>


  <div class="method1 special">
    <dl class="flexBox f30 blackCR" @click.prevent="priceSet.curIndex = 1">
      <dt class="">
        <i :class="['iconfont f30',{'icon-danxuankuang':priceSet.curIndex != 1},{'greenCR icon-danxuankuang1':priceSet.curIndex == 1}]"></i>
      </dt>
      <dd class="flex1">
        方式二：按规格定价
      </dd>
    </dl>
  </div>

  <div class="method2">
    <ul class="flexBox1 tC blackCR">
      <template v-for="(item,index) in specs">
        <li v-for="(value,key) in item"
            :class="{'current greenCR':priceSet.subIndex == index}"
            @click.prevent="changeType(index)">{{key}}</li>
      </template>
    </ul>
    <p v-if="!specs.length">请先设置规格</p>

    <template v-if="specs[priceSet.subIndex]">
      <template v-for="(value,key) in specs[priceSet.subIndex]">
        <dl v-for="(item,index) in value" class="flexBox">
          <dt class="flex1">
            <span>{{item}}</span>
          </dt>
          <dd>
            售价 <input type="number" name="" 
                  v-model="priceSet.price[index]" v-if="priceSet.curIndex == 1">
                  <input v-model="priceSet.price[index]" type="number" disabled="disabled" name="" v-else> 元
          </dd>
        </dl>
        
      </template>
      
    </template>
  </div>




  <div slot="footer" :style="statusBarH">
    <div class="footer tC f30">
      <p class="btn btn-green" @click.prevent="goto('/prd/create')">确定</p>
    </div>
    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>

    <modal-dialog :dialogshow2.sync="isToggle" @hide="closeDialog('isToggle')"  :fail='true'>
      <div class="inputSet f30 tC" slot="dialog-body">
        只能按一种规格定价，您确定要更换吗？
      </div>
      <dl class="dialog-footer" slot="dialog-footer">
        <dd  @touchend.prevent="closeDialog('isToggle')">
          <button type="button" class="btn btn-green">取消</button>
        </dd>
        <dd  @touchend.prevent="changeSubmit">
          <button type="button" class="btn btn-green">确定</button>
        </dd>
      </dl>    
    </modal-dialog>
   
  </div>

</Layout>