.wrap{
  background: #fff;
}
.header{
  background: #696f77;
  height: 350px;
  padding: 50px 0 0;
}
.header dl{
  padding: 50px 0px 0;
  text-align: center;
}
.header dl span{
/*  background: #f5c03e;
  text-shadow: 0 0 0px rgba(0,0,0,.16), 0 0 5px rgba(0,0,0,.16), 0 0 10px rgba(0,0,0,.16);
*/  padding: 0 60px;
  font-size: 28px;
}
.header dl span:last-child{
  /*margin-left: 40px;*/
}

.header ul{
  align-items: start;
}
.header li:first-child:before{
  position: absolute;
  right: 0;
  top: 20px;
  bottom: 20px;
  content: ' ';
  width: 1px;
  border-right: 1px solid #e7a8d6;/*no*/
}
.header li p{
  font-size: 60px;
  text-shadow: 0 0 0px rgba(0,0,0,.16), 0 0 5px rgba(0,0,0,.16), 0 0 10px rgba(0,0,0,.16);
}
.balance{
  border-top: 15px solid #efeff3 ;
  padding: 10px 0 0;
  line-height: 70px;
}
.balance dl dt{
  border-bottom: 1px solid #dedede ;/*no*/
  padding-left: 30px;
}
.balance dl dd{
  padding-left: 30px;
}
.index-wrap{
  margin:10px 30px 30px;
  position: relative;
  z-index: 2;
}
.index-wrap table{
  width: 100%;
  color: #4e4e4e;
  text-align: center;
  table-layout:fixed;
}
.index-wrap table tr th{
  border-bottom: 1px solid #a3a4b5;/*no*/
  padding: 15px 0;
  font-weight: normal;
}
.index-wrap table tr td{
  border-bottom: 1px solid #c1c1cc;/*no*/
  padding: 18px 0;
  /*height: 80px;*/
/*  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
*/}