

.method1{
  padding: 50px 30px 40px;    
  line-height: 48px;
  border-bottom: 15px solid #ebebeb;
}
.method1:last-child{
  border-bottom: none;
}
.method1 dl{
  align-items:flex-start;
}
.method1 dt{
  width: 60px;
}
.method1 dd input{
  display: inline-block;
  width: 50%;
  height: 55px;
  line-height: 32px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  border:1px solid #adadad!important;/*no*/
  background: #fff;
  margin-right: 15px;
}
.method1 p{
  padding-top: 10px;
}
.myDetail dl{
  padding-bottom: 30px;
}
.icon-danxuankuang-copy{
  font-size: 70px;
}
.footer dl{
  width: 100%;
  padding: 30px 30px;
}
.footer dl dt{
}
.footer dl p{
  width: 90%;
}
.footer dl dt p{
  background: #fff;
  border:1px solid #51aa38!important
}
.footer dl dt p:active{
  background: #b9ddaf;
  /*border:1px solid #51aa38!important*/
}










