<Layout>
  <div slot="header">
    <myhead :hval="header" v-if="!isIosWechat"></myhead>
    <div class="header posiR whiteCR">
      <ul class="flexBox1 tC">
        <li class="posiR">
          今日收入（元）
          <p>{{saleData.today_sale_amount?saleData.today_sale_amount:'0.00'}}</p>
        </li>
        <li class="posiR">
          本月收入（元）
          <p>{{saleData.month_sale_amount?saleData.month_sale_amount:'0.00'}}</p>
        </li>
      </ul>
    </div>    
  </div>

  <div class="title">
    <dl class="flexBox">
      <dt class="flex1">收入趋势</dt>
      <dd class="dn">
        <datepicker v-model="paraData.begin_time" :max="paraData.end_time" language='ch'></datepicker>
         - 
         <datepicker v-model="paraData.end_time"  :min="paraData.begin_time" language='ch'></datepicker>
      </dd>
      <dd>
        <span :class="['btn btn-default btn-sm mL10',{'btn-green whiteCR':index == isCur}]" 
            v-for="(item,index) in tabs" 
            @click.prevent="changeType(index)">{{item.name}}</span>
      </dd>        
    </dl>
  </div>

  <div class="chatForm">
    <div class="noData" v-if="noData">
      
    </div>
    <div id="lineMain" v-show="!noData"></div>
  </div>
<!--   <div class="title">
    <dl class="flexBox">
      <dt class="flex1">收入趋势</dt>
      <dd class="dn">
        <datepicker v-model="paraData.begin_time" :max="paraData.end_time" language='ch'></datepicker>
         - 
         <datepicker v-model="paraData.end_time"  :min="paraData.begin_time" language='ch'></datepicker>
      </dd>
      <dd>
        <span class="btn btn-default btn-sm mL10">昨日</span>  
        <span class="btn btn-green btn-sm mL10 current">今日</span>    
        <span class="btn btn-default btn-sm mL10">7天</span>   
        <span class="btn btn-default btn-sm mL10">30天</span>
      </dd>
    </dl>
  </div> -->

  <div class="balance f30">
    <dl class="dls blackCR">
      <dt>总收入：</dt>
      <dd class="grayCR">{{listData.total_amount}} 元</dd>
    </dl>
    <dl class="dls blackCR">
      <dt>售出商品：</dt>
      <dd class="grayCR">{{listData.total_count}} 件</dd>
    </dl>
<!--     <dl class="flexBox blackCR">
      <dt>购买人数：</dt>
      <dd class="grayCR">2222</dd>
    </dl>
    <dl class="flexBox blackCR">
      <dt>人均消费：</dt>
      <dd class="grayCR">2222 元</dd>
    </dl> -->
  </div>



  
</Layout>