<Layout>
  <div slot="header">
    <div class="tab tC blackCR f30">
      <ul class="flexBox1">
        <li v-for="(item,index) in tabs" 
            :class="{'greenCR current':index == isCur}"
            @click.prevent="changeType(index,item.type)">{{item.name}}</li>
      </ul>
    </div>

    <div class="search">
      <dl class="flexBox">
        <dt class="flex1">
          <input type="text" name="" v-model="searchCon">
        </dt>
        <dd v-if="!hasClick" @click.prevent="searchList">
          <i class="iconfont icon-fangdajing f36"></i>
        </dd>
        <dd v-else @click.prevent="searchCancel">
          <i class="iconfont icon-chahao f36"></i>
        </dd>
      </dl>
    </div>
    
  </div>
  <scroller :on-refresh="onRefresh" :noDataText="noDataText" :on-infinite="onInfinite"  ref="my_scroller">

    <div class="prdOne" v-for="(item,index) in listData">
      <dl class="blackCR">
        <dt class="greenCR">
          <span class="fr grayCR">{{item.created_at}}</span>
          订单号：{{item.orderid}}
        </dt>
        <dd>
          <ul class="flexBox">
            <li class="special">
              <img :src="globalAvatar+'goods/'+item.head_image" alt="">
            </li>
            <li class="f30 flex1">
              {{item.title}}
              <p class="redCR">¥ {{item.amount}}</p>
            </li>
            <li class="liPadd f30">
              X {{item.count}}
            </li>
          </ul>
        </dd>
      </dl>
      <dl v-if="item.spec != 'null'">
        <dt class="blackCR f30">规格信息：</dt>
        <dd>
          <p v-for="(item2,index2) in JSON.parse(item.spec)">
            <template v-for="(value,key,index3) in item2">
              {{key == 'count' ? '数量' : key}}：{{value}} {{index3 == Object.keys(item2).length - 1 ? '' :' ，'}} 
            </template>
          </p>
        </dd>
      </dl>
<!--       <dl>
        <dt class="blackCR f30">数量信息：</dt>
        <dd >X {{item.count}}</dd>
      </dl> -->
      <dl>
        <dt class="blackCR f30">收货人信息：</dt>
        <dd >
          <p>{{item.buyer_nick}}，{{item.mobileno}}</p>
          <p>{{item.address}}</p>
        </dd>
      </dl>
      <dl v-if="item.buyer_remark">
        <dt class="blackCR f30">买家备注：</dt>
        <dd >{{item.buyer_remark}}</dd>
      </dl>
      <dl v-if="item.seller_remark">
        <dt class="blackCR f30">我的备注：</dt>
        <dd >{{item.seller_remark}}</dd>
      </dl>
      <dl v-if="item.deliver_no">
        <dt class="blackCR f30">快递信息：</dt>
        <dd >{{item.deliver}}：{{item.deliver_no}}</dd>
      </dl>

      <ol class="blackCR flexBox f30">
        <li class="flex1"></li>
        <li class="flex1 tR" v-if="!item.deliver_no" @click.prevent="popOrder(item,index,false)">快递信息</li>
        <li class="special posiR" @click.prevent="popOrder(item,index,true)">订单备注</li>
      </ol>
    </div>

    <div class="tC noDataDiv"  v-if="noData">
      <nodate noText="暂无数据"></nodate>
    </div>

  </scroller>

  <div slot="footer">
    <myfooter :current="navType"></myfooter>
    <modal-dialog :dialogshow2.sync="notes" @hide="closeDialog('notes')" :fail='true'>

      <div slot="dialog-body" class="guestCON">
         <dl>
           <dt>订单备注</dt>
           <dd>
             <textarea v-model="remark"></textarea>
           </dd>
         </dl>
      </div>    
  
      <dl class="dialog-footer blueCR" slot="dialog-footer">
        <dd>
          <button type="button" class="btn btn-green" @click.prevent="closeDialog('notes')">取消</button>
        </dd>
        <dd>
          <button type="button" class="btn btn-green" @click.prevent="setRemark">确定</button>
        </dd>
      </dl>
    </modal-dialog>

    <modal-dialog :dialogshow2.sync="diliver" @hide="closeDialog('diliver')" :fail='true'>

        <div slot="dialog-body" class="deliverCON">
           <dl class="dls">
             <dt>快递名称</dt>
             <dd class="grayCR">
               <!-- 顺丰 <span class="f21">设置默认快递</span> -->
               <input type="text" v-model="deliver" name="">
             </dd>
           </dl>
           <dl class="dls">
             <dt>快递单号</dt>
             <dd class="grayCR">
               <input type="text" name="" v-model="deliver_no">
               <p class="f21 grayCR">建议填写快递单号，方便查询和整理订单</p>
             </dd>
           </dl>
        </div>    
    
        <dl class="dialog-footer blueCR" slot="dialog-footer">
          <dd>
            <button type="button" class="btn btn-green" @click.prevent="closeDialog('diliver')">取消</button>
          </dd>
          <dd>
            <button type="button" class="btn btn-green" @click.prevent="setDeliver">确定发货</button>
          </dd>
        </dl>
    </modal-dialog>
    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>

  </div>


  
</Layout>