.wrap{
    background: #ebebeb
}
.header{
  background: #fff;
  background-size: 100%;
  /*height: 407px;*/
  padding: 0px 0 50px;
  position: relative;
}
.header .icon-fanhui{
  position: absolute;
  left: 30px;
}
.header > span{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 40px 10px 30px 30px;

}

.header dl{
  padding: 50px 30px 0;
}
.header dl img{
  width: 210px;
}
.header dl p.img{
  line-height: 0px;
  width: 210px;
  height: 210px;
  position: relative;
  display: inline-block;
}
.header dl p.img img{
  width: 210px;
  height: 210px;
}
.header dl span{
  position: absolute;
  bottom: 3px;
  right: 3px;
  background: #d66167;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  line-height: 41px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 20px rgba(204, 71, 78,.88);
}
.header input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  overflow: hidden;
  opacity: 0;
}

.my-set{
  position: relative;
  padding:0px 0px 80px;
  background-size: 50px;
}
.my-set ul{
  background: #fff;
  line-height: 100px;
  color: #908384;
  margin-top: 15px;
}
.my-set ul li{
  padding: 0  30px;
}
.my-set ul li dl{
  border-bottom: 1px solid #dedede ;/*no*/
}
.my-set ul li dt{
  /*width: 70px;*/
  color: #000000;
}
.my-set ul li dd{
  line-height: 100px;
  height: 100px;
  max-width: 60%;
}
.my-set ul li dd.tR{
  /*padding-right: 30px;*/
  color:#7f7f7f
}
.my-set ul li:last-child dl{
  border-bottom: none;
}
.my-set ul li:active{
  background-color: rgba(0,0,0,.05);
}
.my-set ul li .whiteCR{
  opacity: 0;
}
.my-set ul li dd i{
  color: #b5b5b5;
  margin-left: 10px;
}
.my-set ul li a{
  display: block;
}

.header span{
  display: block;
}
.my-set ul.header li{
  padding: 30px 0px 30px 30px;
}
.my-set ul.header li dd{
  height: auto;
  line-height: 45px;
}
.my-set ul.header li img{
  width: 115px;
  height: 115px;
  margin-right: 20px;
}


.clipper{
  
}








