<Layout>
  <myhead slot="header" :hval="header" v-if="!isWechat"></myhead>

  <div>
    <div class="header posiR whiteCR">
      <i class="iconfont icon-fanhui f36" @click.prevent="goto('/my')" v-if="isWechat"></i>
      <dl class="tC">
        <dt>
          <p class="img" @click.prevent="chooseImg">
            <img :src="headImg" alt="" :onerror="defaultHead">
          </p>
        </dt>
      </dl>
    </div>
  </div>

    <div class="my-set f30">
      <ul>
        <router-link tag="li" to="/my/nick">
          <dl class="flexBox">
            <dt class="flex1">昵称：</dt>
            <dd class="tR">
              {{profile.nick}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/signature">
          <dl class="flexBox">
            <dt class="flex1">个性签名：</dt>
            <dd class="tR text-overflow">
              {{profile.signature}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/sex">
          <dl class="flexBox">
            <dt class="flex1">性别：</dt>
            <dd class="tR">
              {{profile.sex}} <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
<!--         <li>
          <dl class="flexBox">
            <dt class="flex1">出生日期：</dt>
            <dd class="tR">
               {{profile.birthday?profile.birthday:''}}<i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li> -->

        <li>
          <dl class="flexBox">
            <dt class="flex1">地区：</dt>
            <dd class="tR">
               {{(profile.country?profile.country:'')+' '+(profile.province?profile.province:'')+' '+(profile.city?profile.city:'')}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li>
      </ul>

      <ul>

        <router-link tag="li" to="/my/service?type=0">
          <dl class="flexBox">
            <dt class="flex1">客服手机号：</dt>
            <dd class="tR">
              {{profile.service_mobileno}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/service?type=1">
          <dl class="flexBox">
            <dt class="flex1">客服微信号：</dt>
            <dd class="tR">
              {{profile.weixin}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/service?type=2">
          <dl class="flexBox">
            <dt class="flex1">客服QQ号：</dt>
            <dd class="tR">
               {{profile.qq}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
      </ul>
    </div>    
  
</Layout>