<Layout>
  <myhead slot="header" :hval="header" v-if="!header.opacity"></myhead>

  <div>
    <div class="header posiR">
      <span @click.prevent="goto(header.link)" v-if="header.opacity">
        <i class="iconfont icon-fanhui f36"></i>
      </span>      
      <dl class="tC">
        <dt>
          <p class="img" @click.prevent="chooseImg">
            <img :src="headImg" alt="" :onerror="defaultHead">
          </p>
        </dt>
      </dl>
    </div>
  </div>
    <div class="my-set f30">
      <ul>
        <router-link tag="li" to="/my/nick">
          <dl class="flexBox">
            <dt class="flex1">昵称：</dt>
            <dd class="tR">
              {{profile.nick}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/signature">
          <dl class="flexBox">
            <dt class="flex1">个性签名：</dt>
            <dd class="tR text-overflow">
              {{profile.signature}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/sex">
          <dl class="flexBox">
            <dt class="flex1">性别：</dt>
            <dd class="tR">
              {{profile.sex}} <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
<!--         <li>
          <dl class="flexBox">
            <dt class="flex1">出生日期：</dt>
            <dd class="tR">
               {{profile.birthday?profile.birthday:''}}<i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li> -->

        <li>
          <dl class="flexBox">
            <dt class="flex1">地区：</dt>
            <dd class="tR">
               {{(profile.country?profile.country:'')+' '+(profile.province?profile.province:'')+' '+(profile.city?profile.city:'')}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li>
      </ul>

    </div>    
    
    <div slot="footer">
      <div class="clipper" v-if="showClipper">
        <croppa v-model="myCroppa"
                :prevent-white-space="true"
                :width="500"
                :height="500"></croppa>
<!--         <image-clipper :img="img" @cancel="closeDialog('showClipper')" @ok="ok" :clipper-img-width="500" :clipper-img-height="500"></image-clipper>     -->    
      </div>

    </div>
</Layout>