<Layout>
  <myhead slot="header" :hval="header" v-if="!header.opacity"></myhead>

  <div>
    <div class="header posiR">
      <span @click.prevent="goto(header.link)" v-if="header.opacity">
        <i class="iconfont icon-fanhui f36"></i>
      </span>      
      <dl class="tC">
        <dt>
          <p class="img" @click.prevent="chooseImg">
            <img :src="headImg" alt="" :onerror="defaultHead">
          </p>
        </dt>
      </dl>
    </div>
  </div>
    <div class="my-set f30">
      <ul>
        <router-link tag="li" to="/my/nick">
          <dl class="flexBox">
            <dt class="flex1">昵称：</dt>
            <dd class="tR  text-overflow">
              {{profile.nick}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/signature">
          <dl class="flexBox">
            <dt class="flex1">个性签名：</dt>
            <dd class="tR text-overflow">
              {{profile.signature ? profile.signature : '我的好货朋友圈，有喜欢的尽管说。'}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
        <router-link tag="li" to="/my/sex">
          <dl class="flexBox">
            <dt class="flex1">性别：</dt>
            <dd class="tR">
              {{profile.sex}} <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </router-link>
<!--         <li>
          <dl class="flexBox">
            <dt class="flex1">出生日期：</dt>
            <dd class="tR">
               {{profile.birthday?profile.birthday:''}}<i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li> -->

        <li><!--   @click.prevent="choseAdd()" -->
          <dl class="flexBox">
            <dt class="flex1">地区：</dt>
            <dd class="tR">
               {{(profile.country?profile.country:'')+' '+(profile.province?profile.province:'')+' '+(profile.city?profile.city:'')}}
            </dd>
            <dd>
               <i class="iconfont icon-jiantou f24"></i>
            </dd>
          </dl>
        </li>
      </ul>

    </div>    
    
    <div slot="footer">
      <div class="clipper" v-if="showClipper">
        <image-clipper :img="img" @cancel="closeDialog('showClipper')" @ok="ok" :clipper-img-width="400" :clipper-img-height="400"></image-clipper>        
      </div>

    <!-- 收货地址三级联动选项 start-->
      <section class="address f30" :class="{toggHeight:istoggHeight}">
        <section class="title">
          <div class="btn btn-green btn-sm fr determine" v-show="showDeter" @click="determine()">确定</div>
          <div class="area" @click="provinceSelected()" :class="[oneac ? 'accolor' : '']">{{Province?Province:'请选择'}}</div>
          <div class="area" @click="citySelected()" :class="[twoac ? 'accolor':'']" v-show="twoshow">{{City?City:'请选择'}}</div>
          <div class="area" @click="districtSelected()" :class="threeac ? 'accolor':''" v-show="threeshow">{{District?District:'请选择'}}</div>
        </section>
        <ul :class="['proJuli animated2dot',{'slideInRight':showProvince},{'dn':!showProvince}]">
          <li class="addList" v-for="(v,k) in info" @click="getProvinceId(v.id, v.name, k)" :key="v.id"  :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
        <ul :class="['citJuli animated2dot',{'slideInRight':showCity},{'dn':!showCity}]">
          <li class="addList" v-for="(v,k) in showCityList" @click="getCityId(v.id, v.name, k)"  :key="v.id"  :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
        <ul :class="['disJuli animated2dot',{'slideInRight':showDistrict},{'dn':!showDistrict}]">
          <li class="addList" v-for="(v,k) in showDistrictList" @click="getDistrictId(v.id, v.name, k)" :key="v.id" :class="{active : v.selected}"><span>{{v.name}}</span></li>
        </ul>
      </section>

    <!-- 收货地址三级联动选项 end-->
    <div class="layout" :class="{layoutBg:islayout}" @click="closeAdd()"></div>

    </div>
</Layout>