ul li{
  margin-left: 30px;
  border-bottom: 1px solid #ebebeb;
}
.head_image{
  width: 120px;
  height: 150px;
}
.head_image img{
  width: 90px;
  height: 90px;
  margin-top: 30px;
  border-radius: 15px;
}
.mR30{
  margin-right: 30px;
}
.nick{
  font-size: 30px;
  color: #000;
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow:hidden
}
.goods_num{
  font-size: 21px;
  color: #7f7f7f;
}
.new_warp{
  width: 60px;
  height: 30px;
  margin-top: 10px;
}
.new{
  width: 60px;
  height: 30px;
  background-color: #ff8400;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
  text-align: center;
}

.go{
    position: absolute; 
    top: 50%;
    margin-top: -10px;
    right: 0px;
}

.footer dl{
  width: 100%;
  padding: 30px 30px;
}
.footer dl p{
  width: 100%;
  font-size: 21px;
  color: #7f7f7f;
}









