<Layout>
  
  <myhead :hval="header" slot="header"></myhead>

  <div class="myDetail ">

      <dl class="flexBox" v-for="(item,index) in listData">
        <dd class="special" @click.prevent="setDefault(item)">
          <i class="iconfont icon-duihao f36 redCR" v-if="index == 0"></i>
        </dd>
        <dt class="flex1" @click.prevent="setDefault(item)">
          <h5 class="blackCR">{{JSON.parse(item.info)['name']}}，{{JSON.parse(item.info)['tel']}}</h5>
          <p>
            {{JSON.parse(item.info)['district']['Province']}}
            {{JSON.parse(item.info)['district']['City']}} 
            {{JSON.parse(item.info)['district']['District']}} 
            {{JSON.parse(item.info)['address']}}</p>
        </dt>
        <dd class="grayCR"  @click.prevent="editAddress(item)">
          编辑
        </dd>
      </dl>
  </div>

  <div  slot="footer" :style="statusBarH">
    <div class="footer tC f30">
      <dl>
        <dd><p class="btn btn-default" @click.prevent="goto('/order/edit?from=select&type=add')">添加新地址</p></dd>
      </dl>
    </div>
    <loading :loading="loading" :loadError="loadError"></loading>
    
  </div>

</Layout>