
.my-set{
  position: relative;
  padding:0px 0px 0px;
}
.my-set ul{
  background: #fff;
  color: #908384;
}
.my-set ul li{
  padding: 0 0px;
  border-bottom: 1px solid #dedede ;/*no*/
}
.my-set ul li:last-child{
  border-bottom: none;
}
.my-set ul li dl{
  padding: 0 30px;
}
.my-set ul li dt{
  width: 70px;
}
.my-set ul li dd{
  line-height: 150px;
  height: 150px;
  color: #000000;
}
.my-set ul li dd input{
  bottom: 0;
  margin: auto;
}
.my-set ul li p{
  padding: 0px 30px 40px 0;
  margin-left: 60px;
}
.my-set ul li p input{
    border: 1px solid #acacac;/*no*/
    width: 98%; 
    line-height: 40px;
    padding: 8px 10px;
    border-radius: 5px;
    /*text-align: center;*/
    margin-left: 10px;
}
.footer dl{
  width: 100%;
  padding: 30px 30px;
}
.footer dl dt{
}
.footer dl p{
  width: 90%;
}
.footer dl dt p{
  background: #fff;
  border:1px solid #51aa38!important
}
.footer dl dt p:active{
  background: #b9ddaf;
  /*border:1px solid #51aa38!important*/
}