<Layout>
  <!-- <myhead :hval="header" slot="header" v-if="!isIosWechat"></myhead> -->

  <div class="my-set">
    <ul class="blackCR f30">
      <li class="special">
        <dl class="flexBox">
          <dd class="flex1">客服电话显示</dd>
          <dd class=" posiR">
            <input id="deLock" type="checkbox" class="ace ace-switch" v-model="paraData.show_mobileno">
            <span class="lbl"></span>
          </dd>
        </dl>
        <p class="f24" v-if="paraData.show_mobileno"> <input type="number" placeholder="请输入客服手机号" v-model = "paraData.service_mobileno" name=""></p>
      </li>
      <li class="special">
        <dl class="flexBox">
          <dd class="flex1">客服微信显示</dd>
          <dd class=" posiR">
            <input id="deLock" type="checkbox" class="ace ace-switch" v-model="paraData.show_weixin">
            <span class="lbl"></span>
          </dd>
        </dl>
        <p class="f24" v-if="paraData.show_weixin"> <input type="text" placeholder="请输入客服微信号" v-model = "paraData.weixin" name=""></p>
      </li>
      <li class="special">
        <dl class="flexBox">
          <dd class="flex1">客服QQ显示</dd>
          <dd class=" posiR">
            <input id="deLock" type="checkbox" class="ace ace-switch" v-model="paraData.show_qq">
            <span class="lbl"></span>
          </dd>
        </dl>
        <p class="f24" v-if="paraData.show_qq"> <input type="text" placeholder="请输入客服QQ" v-model = "paraData.qq" name=""></p>
      </li>
    </ul>
  </div>   

  <div slot="footer">
    <div class="footer tC f30">
      <dl class="flexBox1">
        <dt class="f21 grayCR">
            <p class="btn btn-green greenCR" @click.prevent="goto(header.link)">取消</p>
        </dt>
        <dd><p class="btn btn-green" @click.prevent="modify">确定</p></dd>
      </dl>
    </div>
    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
  </div>
</Layout>