<Layout>
  
  <myhead :hval="header" slot="header" v-if="!header.opacity"></myhead>
  <div class="posiR myTop">
    
  </div>
  <div class="myDetail ">
    <p>
      <img :src="testCanvas" alt="">
    </p>
    
    <span v-if="header.opacity" @click.prevent="goto('/my')">
        <i class="iconfont icon-fanhui f36"></i>
    </span>

  </div>


  <div slot="footer" :style="statusBarH">
    <div class="footer tC f30">
      <dl>
        <dd><p class="btn btn-green" @click.prevent="getPoster">长按上方图片保存到手机</p></dd>
      </dl>
    </div>

    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
    
    <div class="showPic posiR dn">
      <vue-qr :text="ttDomain+'/#/app/author?redirecto=true&seller='+paraData.uid" 
              :logoCornerRadius="8" :logoMargin="5" :callback="test" 
              :logoSrc="ttLogoImg"  :size="280"></vue-qr>
    </div>
   
  </div>

</Layout>