<Layout>
  
  <myhead :hval="header" slot="header"></myhead>
  
  <div class="myDetail ">
    <p class="grayCR tC">根据支付通道协议规定，提现需缴纳 1% 手续费。</p>
    <dl>
      <dt>
        <span class="fr redCR">余额：{{profile.balance?profile.balance:0}} 元</span>
        请输入提现金额
      </dt>
      <dd><input type="number" placeholder="最少提现 1 元" name="" value="" v-model="paraData.amount"></dd>
    </dl>
    <dl>
      <dt>请输入验证码（ 手机号：{{this.profile.acc?this.profile.acc:'无'}} ）</dt>
      <dd class="special posiR">
        <span class="" v-if="clickCaptcha"> {{leftTime}} s</span>
        <span class="" v-else  @click.prevent="getCaptcha('W')">获取验证码</span>            
        <input type="number" name="" value="" v-model="paraData.captcha">
      </dd>
    </dl>
  </div>


  <div slot="footer" :style="statusBarH">
    <div class="footer tC f30">
      <dl>
        <dt class="f21 grayCR">
          审核通过后1个工作日到账
        </dt>
        <dd><p class="btn btn-green" @click.prevent="withDraw">确认</p></dd>
      </dl>
    </div>

    <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
    
    <modal-dialog :dialogshow2.sync="setTel" @hide="closeDialog('setTel')" :fail='true'>
        <div class="dialog-header" slot="dialog-header">
          发布商品前需要先设置客服联系方式
        </div>
    
        <dl class="dialog-footer" slot="dialog-footer">
          <dd @touchend.prevent="closeDialog('setTel')">
            <button type="button" class="btn btn-green">取消</button>
          </dd>
          <dd @touchend.prevent="goto('/my/service?from=index')">
            <button type="button" class="btn btn-green">去设置</button>
          </dd>
        </dl>
    </modal-dialog>
   
  </div>

</Layout>