<Layout>
  <myhead :hval="header" slot="header" v-if="!isIosWechat"></myhead>

  <div class="my-set f30">
    <dl class="flexBox" @click.prevent="modifySex('男')">
      <dt>男</dt>
      <dd class="flex1 tR">
        <i class="iconfont icon-duihao1 redCR f40" v-if="profile.sex == '男'"></i>
      </dd>
    </dl>
    <dl class="flexBox" @click.prevent="modifySex('女')">
      <dt>女</dt>
      <dd class="flex1 tR">
        <i class="iconfont icon-duihao1 redCR f40" v-if="profile.sex == '女'"></i>
      </dd>
    </dl>
  </div>
  <div slot="footer">
      <loading :loading="loading" :loadError="loadError" @closePop="closeDialog('loading')"></loading>
  </div>
</Layout>