.wrap{
  background: #fff;
  background: linear-gradient(180deg, #fff 0%, #fff 60%,   #fbf9dc 100%);
}
.money{
  background: #d66167;
  background: linear-gradient(180deg, #d66167 0%,  #ee8a90 100%);
  padding: 40px 30px 30px;
}
.money dd{
  font-size: 80px;
}
.header{
  padding: 0px 30px 30px;
  overflow-x: hidden;
}
.header .icon-fanhui{
  position: absolute;
  left: 30px;
  top: 10px
}
.header h2{
  padding-right: 30px
}
.header h2 i{
  font-size: 120px;
  /*text-shadow: 0 0 0px #bd353c, 0 0 5px #bd353c, 0 0 10px #bd353c;*/
}
.header dl{
  align-items: start;
  padding-bottom: 15px;
}
.recharge{
  position: relative;
  padding:40px 20px 0px;
  overflow-x: hidden;
}
.recharge > p{
  padding:10px 0 40px;
}
.recharge > h3{
  padding-bottom: 10px;
}
.recharge ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.recharge ul li{
  width: 33.333333%;
  padding:0 10px 30px;
}
.recharge ul li p{
  border-radius: 30px;
  border:1px solid #d66167;/*no*/
  height: 130px;
  justify-content: center;
  color: #eb858b;
}
.recharge ul li p input{
  text-align: center;
}
.recharge ul li p input::-webkit-input-placeholder{
    color: #eb858b;
    opacity: 1;
}
.recharge ul li p span{
  font-size: 48px;
}
.recharge ul li.current p{
  background: #fe7f8d;
  color: #fff;
}
.recharge ul li.current p input::-webkit-input-placeholder{
  color: #fff;
}
.payType{
  padding:20px 0 30px;
}
.payType ol{
  padding: 30px 30px 0;
  text-align: center;
}
.payType ol li{
  margin: 0 0 30px;
  display: inline-block;
  width: 100%;
  height: 90px;
  line-height: 86px;
  border-radius: 20px;
  color: #fff;
  background: #fd778b
}
.payType ol li span{
  opacity: 0
}
.payType ol li:active{
  background: #eb4e66;
}
.payType ol li.alipay{
  background: #4bb6ff;
}
.payType ol li.alipay:active{
  background: #299be9;
}
.payType ol li i.icon-weixin1{
  position: relative;
  top: -4px;
}

.buyTips .dls {
  font-size: 30px;
  line-height: 60px;
}
.buyTips .dls dt{
  width: 52%;
}
.buyTips .dls dd{
  width: 48%;
}

.buyTips h4{
  padding: 20px 0;
}
.buyTips h4 span{
  display: inline-block;
  width: 140px;
  height: 140px;
  line-height: 130px;
  border-radius: 50%;
  background: #fd96a4;
  box-shadow: 0px 0px 20px rgba(204, 71, 78,.88);
  text-shadow: 0 0 0px #bd353c, 0 0 2px #bd353c, 0 0 30px #bd353c;
}
.buyTips h4 span i{
  font-size: 70px;
}
.protocol{
  line-height: 46px;
  max-height: 700px;
  overflow-y: auto;
  padding: 10px 0 0;
  -webkit-overflow-scrolling: touch;
}
.protocol ul li {
  padding-bottom: 20px;
}