.wrap{
    background: #ebebeb
}

.my-set{
  position: relative;
  padding:0px 0px 80px;
  background-size: 50px;
}
.my-set ul{
  background: #fff;
  line-height: 100px;
  color: #908384;
  margin-top: 15px;
}
.my-set ul li{
  padding: 0 0px 0 30px;
}
.my-set ul li dl{
  border-bottom: 1px solid #dedede ;/*no*/
}
.my-set ul li dt{
  width: 70px;
}
.my-set ul li dd{
  line-height: 100px;
  height: 100px;
  color: #000000;
}
.my-set ul li dd.tR{
  padding-right: 30px;
  color:#7f7f7f
}
.my-set ul li:last-child dl{
  border-bottom: none;
}
.my-set ul li:active{
  background-color: rgba(0,0,0,.05);
}
.my-set ul li .whiteCR{
  opacity: 0;
}
.my-set ul li dd i{
  color: #b5b5b5;
  margin-left: 10px;
}
.my-set ul li a{
  display: block;
}
.icon-qianbao-{
  color: #f16e34
}
.icon-erji{
  color: #588ae7
}
.icon-tubiao{
  color: #e75858
}
.icon-erweima{
  color: #80a073
}
.icon-shoujibangding01{
  color: #df4d90;
}
.icon-guanyuwomen{
  color: #9173a0  
}
.icon-zaixianzhidao{
  color: #d92f25   
}
.header span{
  display: block;
}
.my-set ul.header li{
  padding: 30px 0px 30px 30px;
}
.my-set ul.header li dd{
  height: auto;
  line-height: 45px;
}
.my-set ul.header li img{
  width: 115px;
  height: 115px;
  margin-right: 20px;
}